Repository kmd-identity/testapplications: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

azure-pipelines-openid.angular.yml:

trigger:
  branches:
    include:   
    - master
  paths:
    include:
    - KMD.Identity.TestApplications.OpenID.Angular/*

pool:
  vmImage: windows-latest

variables:
  projects: |
      KMD.Identity.TestApplications.OpenID.Angular\KMD.Identity.TestApplications.OpenID.Angular.csproj
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '5.0.x'
    
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '$(projects)'
  displayName: 'dotnet restore'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(projects)'
    arguments: '--configuration $(buildConfiguration)'
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    projects: '$(projects)'
    publishWebProjects: false
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True
  displayName: 'dotnet publish (zip)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Azure DevOps publish artifacts'

azure-pipelines-saml.mvccore.yml:

trigger:
  branches:
    include:   
    - master
  paths:
    include:
    - KMD.Identity.TestApplications.SAML.MVCCore/*

pool:
  vmImage: windows-latest

variables:
  projects: |
      KMD.Identity.TestApplications.SAML.MVCCore\KMD.Identity.TestApplications.SAML.MVCCore.csproj
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '5.0.x'
    
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '$(projects)'
  displayName: 'dotnet restore'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(projects)'
    arguments: '--configuration $(buildConfiguration)'
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: True
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True
  displayName: 'dotnet publish (zip)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Azure DevOps publish artifacts'

Added a quick fix to initiate the log-in flow immediately from test.identity.kmd.dk
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
Due: azure-pipelines-openid.angular.yml

Added autologin query string parameter to OpenID SPA on MainPage
  KMD.Identity.TestApplications.MainPage/Views/Home/Index.cshtml
Due: none

Added handler for custom claims with 3 possible outcomes: Forbidden, Claims, CustomNameId
  KMD.Identity.TestApplications.OpenID.API/Controllers/CustomClaimsController.cs
  KMD.Identity.TestApplications.OpenID.API/Handlers/CustomClaimsHandler.cs
  KMD.Identity.TestApplications.OpenID.API/Handlers/ICustomClaimsHandler.cs
  KMD.Identity.TestApplications.OpenID.API/Models/CustomClaims/CustomClaimsConsts.cs
  KMD.Identity.TestApplications.OpenID.API/Models/CustomClaims/CustomClaimsResult.cs
  KMD.Identity.TestApplications.OpenID.API/Models/CustomClaims/CustomNameIdResult.cs
  KMD.Identity.TestApplications.OpenID.API/Models/CustomClaims/ICustomClaimsResult.cs
  KMD.Identity.TestApplications.OpenID.API/Models/CustomClaims/UserForbiddenResult.cs
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
Due: none

Removed devtest mentions. Replaced it with NemLogin-3-Test ones
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Home/Index.cshtml
  KMD.Identity.TestApplications.SAML.MVCCore/Views/Home/Index.cshtml
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

Updated domain_hint from adfs-kmd-dk to kmd-ad-prod
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Home/Index.cshtml
  KMD.Identity.TestApplications.SAML.MVCCore/Views/Home/Index.cshtml
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

Updated domain hints
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Home/Index.cshtml
  KMD.Identity.TestApplications.SAML.MVCCore/Views/Home/Index.cshtml
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

SignAuthnRequest set to true
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
Due: azure-pipelines-saml.mvccore.yml

Revert "SignAuthnRequest set to true"
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
Due: azure-pipelines-saml.mvccore.yml

Added Signing of AuthnRequest.
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
Due: azure-pipelines-saml.mvccore.yml

Moved SignAytnRequest to appsettings.
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.json
Due: azure-pipelines-saml.mvccore.yml

added bearer scheme handling in swagger UI
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
Due: none

initial version of KMD Identity WinForms app
  KMD.Identity.TestApplications.OpenID.WinForms/App.config
  KMD.Identity.TestApplications.OpenID.WinForms/KMD.Identity.TestApplications.OpenID.WinForms.csproj
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.cs
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.resx
  KMD.Identity.TestApplications.OpenID.WinForms/MainForm.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/MainForm.cs
  KMD.Identity.TestApplications.OpenID.WinForms/MainForm.resx
  KMD.Identity.TestApplications.OpenID.WinForms/Program.cs
  KMD.Identity.TestApplications.OpenID.WinForms/Properties/AssemblyInfo.cs
  KMD.Identity.TestApplications.OpenID.WinForms/Properties/Resources.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/Properties/Resources.resx
  KMD.Identity.TestApplications.OpenID.WinForms/Properties/Settings.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/Properties/Settings.settings
  KMD.Identity.TestApplications.OpenID.WinForms/UserContext.cs
  KMD.Identity.TestApplications.OpenID.WinForms/packages.config
  KMD.Identity.TestApplications.sln
Due: none

more login options
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.cs
Due: none

Added WebView2 experimental handling
  KMD.Identity.TestApplications.OpenID.WinForms/KMD.Identity.TestApplications.OpenID.WinForms.csproj
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.cs
  KMD.Identity.TestApplications.OpenID.WinForms/packages.config
Due: none

Renaming config files
  KMD.Identity.TestApplications.MainPage/appsettings.DevTest.json
  KMD.Identity.TestApplications.MainPage/appsettings.Development.json
  KMD.Identity.TestApplications.MainPage/appsettings.Local.json
  KMD.Identity.TestApplications.OpenID.API/appsettings.DevTest.json
  KMD.Identity.TestApplications.OpenID.API/appsettings.Development.json
  KMD.Identity.TestApplications.OpenID.API/appsettings.Local.json
  KMD.Identity.TestApplications.OpenID.Angular/KMD.Identity.TestApplications.OpenID.Angular.csproj
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.DevTest.json
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.Development.json
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.Local.json
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.Development.json
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.Local.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Development.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Local.json
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

Setting env to Development instead of local
  KMD.Identity.TestApplications.MainPage/Properties/launchSettings.json
  KMD.Identity.TestApplications.MainPage/Startup.cs
  KMD.Identity.TestApplications.OpenID.API/Properties/launchSettings.json
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
  KMD.Identity.TestApplications.OpenID.Angular/Properties/launchSettings.json
  KMD.Identity.TestApplications.OpenID.Angular/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Properties/launchSettings.json
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Properties/launchSettings.json
  KMD.Identity.TestApplications.SAML.MVCCore/Startup.cs
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

add the CookieSecurePolicy.Always policy
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
Due: none

Implemented logout. To run locally package migration was necessary, this has created the migration backup stuff.
  KMD.Identity.TestApplications.OpenID.WinForms/KMD.Identity.TestApplications.OpenID.WinForms.csproj
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.cs
  KMD.Identity.TestApplications.OpenID.WinForms/LogoutType.cs
  KMD.Identity.TestApplications.OpenID.WinForms/MainForm.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/MainForm.cs
  KMD.Identity.TestApplications.OpenID.WinForms/Program.cs
  KMD.Identity.TestApplications.OpenID.WinForms/UserContext.cs
  MigrationBackup/40ff959e/KMD.Identity.TestApplications.OpenID.WinForms/KMD.Identity.TestApplications.OpenID.WinForms.csproj
  MigrationBackup/40ff959e/KMD.Identity.TestApplications.OpenID.WinForms/NuGetUpgradeLog.html
  MigrationBackup/40ff959e/KMD.Identity.TestApplications.OpenID.WinForms/packages.config
Due: none

Removed Migration folder
  MigrationBackup/40ff959e/KMD.Identity.TestApplications.OpenID.WinForms/KMD.Identity.TestApplications.OpenID.WinForms.csproj
  MigrationBackup/40ff959e/KMD.Identity.TestApplications.OpenID.WinForms/NuGetUpgradeLog.html
  MigrationBackup/40ff959e/KMD.Identity.TestApplications.OpenID.WinForms/packages.config
Due: none

Adding logic to validate returnurl domain.
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Utils/RedirectUrlHelper.cs
Due: azure-pipelines-saml.mvccore.yml

Changed to use IsLocalUrl
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Utils/RedirectUrlHelper.cs
Due: azure-pipelines-saml.mvccore.yml

Add basic test page for delegation, to hit the "dumb" endpoint
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.ts
Due: azure-pipelines-openid.angular.yml

Adding components to the angular app, so that it gets easier to add my stuff
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/error/error.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/error/error.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/error/error.component.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/error/error.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/view-api-response/view-api-response.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/view-api-response/view-api-response.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/view-api-response/view-api-response.component.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/view-api-response/view-api-response.component.ts
Due: azure-pipelines-openid.angular.yml

Adding a service to make a call to the test api, in this way extracting a simplified service and component
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/.vscode/launch.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/view-api-response/view-api-response.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/view-api-response/view-api-response.component.ts
Due: azure-pipelines-openid.angular.yml

Adding simple token-exchange
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
Due: azure-pipelines-openid.angular.yml

Adding simple token-exchange
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/auth/auth-config.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/error/error.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.service.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.service.ts
Due: azure-pipelines-openid.angular.yml

Adding feature toggles and domain toggles
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/auth/auth-config.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/config/app.config.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/Config/ApplicationConfig.cs
  KMD.Identity.TestApplications.OpenID.Angular/Config/FeatureToggleConfig.cs
  KMD.Identity.TestApplications.OpenID.Angular/Controllers/ConfigController.cs
  KMD.Identity.TestApplications.OpenID.Angular/Startup.cs
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.Production.json
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.json
Due: azure-pipelines-openid.angular.yml

Tidy ups based on my reding of the PR
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/config/app.config.ts
  KMD.Identity.TestApplications.OpenID.Angular/Controllers/ConfigController.cs
Due: azure-pipelines-openid.angular.yml

Doing slightly better with instantiation of components
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authenticate.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authenticate.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authenticate.component.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authenticate.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/config/auth-config.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/error.service.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/error.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/error/error.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.service.ts
Due: azure-pipelines-openid.angular.yml

Distinguish between different grant types
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authenticate.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/config/auth-config.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.service.ts
Due: azure-pipelines-openid.angular.yml

Initiate the delegation flow specifying if we should, or should not, have the stub consents endpoint return a consent
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.service.ts
Due: azure-pipelines-openid.angular.yml

adding sandbox appsettings
  KMD.Identity.TestApplications.MainPage/appsettings.Sandbox.json
  KMD.Identity.TestApplications.OpenID.API/appsettings.Sandbox.json
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.Sandbox.json
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.Sandbox.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

Examples of how to use additional uniloginflows
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/AccountController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/CustomSaml2BindingExtensions.cs
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

cleanup
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/CustomSaml2BindingExtensions.cs
Due: azure-pipelines-saml.mvccore.yml

Adding unilogin_loa to Winforms
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.cs
Due: none

Commenting the unilogin_loa
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.cs
Due: none

cleanup
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.cs
Due: azure-pipelines-openid.angular.yml

UniloginLOA example added
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.cs
Due: none

changed error in outcommented line
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
Due: azure-pipelines-saml.mvccore.yml

Removing user delegation
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/config/app.config.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/config/auth-config.module.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.css
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.service.spec.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-delegation/user-delegation.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/Config/FeatureToggleConfig.cs
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.Production.json
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.json
Due: azure-pipelines-openid.angular.yml
