Repository kmd-identity/testapplications: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

azure-pipelines-openid.angular.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: DotNetCoreCLI@2
    inputs:
      command: restore
      projects: $(projects)
    displayName: dotnet restore
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: $(projects)
  ...

azure-pipelines-saml.mvccore.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: DotNetCoreCLI@2
    inputs:
      command: restore
      projects: $(projects)
    displayName: dotnet restore
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: $(projects)
  ...

Logging
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/angular.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
Due: azure-pipelines-openid.angular.yml

Revert "Fix?"
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
Due: azure-pipelines-openid.angular.yml

Logging
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
Due: azure-pipelines-openid.angular.yml

Test
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
Due: azure-pipelines-openid.angular.yml

Test
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
Due: azure-pipelines-openid.angular.yml

Revert "Test"
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
Due: azure-pipelines-openid.angular.yml

Remove logs
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
Due: azure-pipelines-openid.angular.yml

Add robots.txt files
  KMD.Identity.TestApplications.MainPage/wwwroot/robots.txt
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
  KMD.Identity.TestApplications.OpenID.API/wwwroot/robots.txt
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/angular.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/robots.txt
  KMD.Identity.TestApplications.OpenID.MVCCore/wwwroot/robots.txt
  KMD.Identity.TestApplications.SAML.MVCCore/wwwroot/robots.txt
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

using javascript:void(0) to handle the issue with double click needed for callApi
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
Due: azure-pipelines-openid.angular.yml

moving when callTestApi is called.
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
Due: azure-pipelines-openid.angular.yml

change back to href="#"
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
Due: azure-pipelines-openid.angular.yml

adding logging to check issue
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.ts
Due: azure-pipelines-openid.angular.yml

removed async testing
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.ts
Due: azure-pipelines-openid.angular.yml

html fix
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.html
Due: azure-pipelines-openid.angular.yml

forcing change detection
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
Due: azure-pipelines-openid.angular.yml

fixing error
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
Due: azure-pipelines-openid.angular.yml

async pipe
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
Due: azure-pipelines-openid.angular.yml

removing test logging
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.ts
Due: azure-pipelines-openid.angular.yml

cleanup
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
Due: azure-pipelines-openid.angular.yml

whitespace
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
Due: azure-pipelines-openid.angular.yml

adding + using new certificate
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.json
  KMD.Identity.TestApplications.SAML.MVCCore/itfoxtec.identity.saml2.testwebappcore_Certificate.pfx
  KMD.Identity.TestApplications.SAML.MVCCore/kmd.identity.saml2.testapp.pfx
Due: azure-pipelines-saml.mvccore.yml

Updating to support POST
  KMD.Identity.TestApplications.MainPage/Views/Home/Index.cshtml
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/AccountController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Home/Index.cshtml
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Shared/_Layout.cshtml
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/CustomSaml2BindingExtensions.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Views/Home/Index.cshtml
  KMD.Identity.TestApplications.SAML.MVCCore/Views/Shared/_Layout.cshtml
Due: azure-pipelines-saml.mvccore.yml

pr comments
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/AccountController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/CustomSaml2BindingExtensions.cs
Due: azure-pipelines-saml.mvccore.yml

pr comment
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/CustomSaml2BindingExtensions.cs
Due: azure-pipelines-saml.mvccore.yml

remove redirect as value is not used.
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Home/Index.cshtml
Due: none

pr comments
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/AccountController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/CustomSaml2BindingExtensions.cs
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

sort user claims + api claims
  KMD.Identity.TestApplications.OpenID.API/Controllers/ClaimsController.cs
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.ts
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Home/Index.cshtml
  KMD.Identity.TestApplications.SAML.MVCCore/Views/Home/Index.cshtml
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

Potential fix for pull request finding 'Preserve __proto__ claim keys during object reconstruction'
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.ts
Due: azure-pipelines-openid.angular.yml

Path conditions:
  azure-pipelines-openid.angular.yml: any of: KMD.Identity.TestApplications.OpenID.Angular
  azure-pipelines-saml.mvccore.yml: any of: KMD.Identity.TestApplications.SAML.MVCCore
