Repository kmd-identity/testapplications: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

azure-pipelines-openid.angular.yml:

trigger:
  branches:
    include:   
    - master
  paths:
    include:
    - KMD.Identity.TestApplications.OpenID.Angular/*

pool:
  vmImage: windows-latest

variables:
  projects: |
      KMD.Identity.TestApplications.OpenID.Angular\KMD.Identity.TestApplications.OpenID.Angular.csproj
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '5.0.x'
    
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '$(projects)'
  displayName: 'dotnet restore'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(projects)'
    arguments: '--configuration $(buildConfiguration)'
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    projects: '$(projects)'
    publishWebProjects: false
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True
  displayName: 'dotnet publish (zip)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Azure DevOps publish artifacts'

azure-pipelines-saml.mvccore.yml:

trigger:
  branches:
    include:   
    - master
  paths:
    include:
    - KMD.Identity.TestApplications.SAML.MVCCore/*

pool:
  vmImage: windows-latest

variables:
  projects: |
      KMD.Identity.TestApplications.SAML.MVCCore\KMD.Identity.TestApplications.SAML.MVCCore.csproj
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '5.0.x'
    
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '$(projects)'
  displayName: 'dotnet restore'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(projects)'
    arguments: '--configuration $(buildConfiguration)'
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: True
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True
  displayName: 'dotnet publish (zip)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Azure DevOps publish artifacts'

Update azure-pipelines-openid.angular.yml
  azure-pipelines-openid.angular.yml
Due: none

custom certificate validator for OCES3 and comments
  KMD.Identity.TestApplications.SAML.MVCCore/Infrastructure/Saml/CustomSamlCertificateValidator.cs
  KMD.Identity.TestApplications.SAML.MVCCore/KMD.Identity.TestApplications.SAML.MVCCore.csproj
  KMD.Identity.TestApplications.SAML.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.json
Due: azure-pipelines-saml.mvccore.yml

reverted metadata url
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.json
Due: azure-pipelines-saml.mvccore.yml

fixed comment
  KMD.Identity.TestApplications.SAML.MVCCore/Infrastructure/Saml/CustomSamlCertificateValidator.cs
Due: azure-pipelines-saml.mvccore.yml

Updated IdPMetadataUrL for SPA and .NET OpenID testapps.
  KMD.Identity.TestApplications.OpenID.API/appsettings.DevTest.json
  KMD.Identity.TestApplications.OpenID.API/appsettings.Production.json
  KMD.Identity.TestApplications.OpenID.API/appsettings.json
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.json
Due: none

updated sandbox config
  KMD.Identity.TestApplications.OpenID.API/appsettings.Sandbox.json
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.Sandbox.json
Due: none

Run Angular migration from v12 to v13
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/.gitignore
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/polyfills.ts
Due: azure-pipelines-openid.angular.yml

Run Angular migration from v13 to v14
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/angular.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/tsconfig.json
Due: azure-pipelines-openid.angular.yml

Run Angular migration from v14 to v15
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/.browserslistrc
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/test.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/tsconfig.json
Due: azure-pipelines-openid.angular.yml

Run Angular migration from v15 to v16
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
Due: azure-pipelines-openid.angular.yml

Updated oicd client
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
Due: azure-pipelines-openid.angular.yml

Audit fix
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
Due: azure-pipelines-openid.angular.yml

Fixed compilation errors
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/config/auth-config.module.ts
Due: azure-pipelines-openid.angular.yml

Fixed build error
  KMD.Identity.TestApplications.OpenID.Angular/KMD.Identity.TestApplications.OpenID.Angular.csproj
Due: azure-pipelines-openid.angular.yml

Reverted accidental change
  KMD.Identity.TestApplications.OpenID.Angular/KMD.Identity.TestApplications.OpenID.Angular.csproj
Due: azure-pipelines-openid.angular.yml

SAML metadata is refreshed on validation error
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/.gitignore
  KMD.Identity.TestApplications.SAML.MVCCore/Config/ExtendedSaml2Configuration.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/MetadataController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/CustomSaml2BindingExtensions.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/Saml2ConfigurationExtensions.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Startup.cs
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

Removed net5.0 incompatible c# syntax
  KMD.Identity.TestApplications.SAML.MVCCore/Config/ExtendedSaml2Configuration.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/Saml2ConfigurationExtensions.cs
Due: azure-pipelines-saml.mvccore.yml

Renamed config property
  KMD.Identity.TestApplications.SAML.MVCCore/Config/ExtendedSaml2Configuration.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/CustomSaml2BindingExtensions.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.json
Due: azure-pipelines-saml.mvccore.yml

Fixed app settings
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
Due: azure-pipelines-saml.mvccore.yml

Fix rendering of claims when logged in to Angular app
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.html
Due: azure-pipelines-openid.angular.yml

initial with working login
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/AppShell.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/AppShell.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Converters/InverseBoolConverter.cs
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/LogoutPage.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/LogoutPage.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/MainPage.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/MainPage.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/MauiProgram.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/AndroidManifest.xml
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/MainActivity.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/MainApplication.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/Resources/values/colors.xml
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/MacCatalyst/AppDelegate.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/MacCatalyst/Info.plist
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/MacCatalyst/Program.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Tizen/Main.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Tizen/tizen-manifest.xml
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Windows/App.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Windows/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Windows/Package.appxmanifest
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Windows/app.manifest
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/iOS/AppDelegate.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/iOS/Info.plist
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/iOS/Program.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Properties/launchSettings.json
  KMD.Identity.TestApplications.OpenID.MAUI/Resources/AppIcon/appicon.svg
  KMD.Identity.TestApplications.OpenID.MAUI/Resources/AppIcon/appiconfg.svg
  KMD.Identity.TestApplications.OpenID.MAUI/Resources/Fonts/OpenSans-Regular.ttf
  KMD.Identity.TestApplications.OpenID.MAUI/Resources/Fonts/OpenSans-Semibold.ttf
  KMD.Identity.TestApplications.OpenID.MAUI/Resources/Images/dotnet_bot.svg
  KMD.Identity.TestApplications.OpenID.MAUI/Resources/Raw/AboutAssets.txt
  KMD.Identity.TestApplications.OpenID.MAUI/Resources/Splash/splash.svg
  KMD.Identity.TestApplications.OpenID.MAUI/Resources/Styles/Colors.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/Resources/Styles/Styles.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/MainPageViewModel.cs
  KMD.Identity.TestApplications.sln
Due: none

small refactoring
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/AppShell.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/AppShell.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Configuration/AuthConfiguration.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Configuration/ConfigurationLoader.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Configuration/authConfiguration.json
  KMD.Identity.TestApplications.OpenID.MAUI/Converters/InverseBoolConverter.cs
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/LogoutPage.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/MainPage.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/MainPage.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/MauiProgram.cs
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/AuthViewModel.cs
Due: none

logout button
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/AppShell.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/AppShell.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/LogoutPage.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/LogoutPage.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/AuthViewModel.cs
Due: none

api call
  KMD.Identity.TestApplications.OpenID.MAUI/ApiPage.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/ApiPage.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/AppShell.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/Configuration/ApiConfiguration.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Configuration/ApiConfiguration.json
  KMD.Identity.TestApplications.OpenID.MAUI/Configuration/authConfiguration.json
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/MauiProgram.cs
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/ApiPageViewModel.cs
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/AuthViewModel.cs
Due: none

header + domain hint
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/AppShell.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/AppShell.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Header.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/Header.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/MainPage.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/MainPage.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/MainPageViewModel.cs
Due: none

working logout with additional Activity
  KMD.Identity.TestApplications.OpenID.MAUI/Configuration/AuthConfiguration.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Configuration/authConfiguration.json
  KMD.Identity.TestApplications.OpenID.MAUI/Header.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/MauiProgram.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/AndroidManifest.xml
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/MainActivity.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/PostLogoutActivity.cs
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/AuthViewModel.cs
Due: none

small ux changes
  KMD.Identity.TestApplications.OpenID.MAUI/ApiPage.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/MainPage.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/AuthViewModel.cs
Due: none

thumbprint
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Header.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/MainPage.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/MainPage.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/AndroidManifest.xml
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/MainActivity.cs
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/LoginViewModel.cs
Due: none

more login/logout at startup
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Header.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/LoginViewModel.cs
Due: none

title
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml
Due: none

typo
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml
Due: none

platform parameter
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
Due: none

ios support
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/iOS/AppDelegate.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/iOS/Entitlements.plist
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/iOS/Info.plist
Due: none

Fixed CORS issue
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
Due: none

Fixed use of token in claims api call
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.ts
Due: azure-pipelines-openid.angular.yml

Fixed problem where server logout does not happen
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
Due: azure-pipelines-openid.angular.yml

ios thumbprint remove
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/iOS/Info.plist
Due: none

Create README.md
  KMD.Identity.TestApplications.OpenID.MAUI/README.md
Due: none

Update Login.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml
Due: none
