Repository kmd-identity/testapplications: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

azure-pipelines-openid.angular.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: DotNetCoreCLI@2
    inputs:
      command: restore
      projects: $(projects)
    displayName: dotnet restore
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: $(projects)
  ...

azure-pipelines-saml.mvccore.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: DotNetCoreCLI@2
    inputs:
      command: restore
      projects: $(projects)
    displayName: dotnet restore
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: $(projects)
  ...

Adding requirecprendpoint
  KMD.Identity.TestApplications.OpenID.API/Controllers/CustomClaimsController.cs
  KMD.Identity.TestApplications.OpenID.API/Handlers/CustomClaimsHandler.cs
  KMD.Identity.TestApplications.OpenID.API/Handlers/ICustomClaimsHandler.cs
  KMD.Identity.TestApplications.OpenID.API/Models/CustomClaims/RequireCprResult.cs
Due: none

working android version
  KMD.Identity.TestApplications.MainPage/wwwroot/.well-known/assetlinks.json
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/AndroidManifest.xml
  KMD.Identity.TestApplications.OpenID.MAUI/Platforms/Android/AppSwitchActivity.cs
  KMD.Identity.TestApplications.OpenID.MAUI/certstore/testkeys.keystore
Due: none

.well-known include
  KMD.Identity.TestApplications.MainPage/KMD.Identity.TestApplications.MainPage.csproj
Due: none

controller that host applinks registration
  KMD.Identity.TestApplications.MainPage/Controllers/MobileRegistrations.cs
  KMD.Identity.TestApplications.MainPage/KMD.Identity.TestApplications.MainPage.csproj
  KMD.Identity.TestApplications.MainPage/wwwroot/.well-known/assetlinks.json
Due: none

Access Delegation by Citizen
  KMD.Identity.TestApplications.OpenID.API/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.API/Extensions/ClaimsPrincipalExtensions.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegation.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegationScope.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegationStatus.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegationUserData.cs
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/IDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/InMemoryDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/DelegationService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/IDelegationService.cs
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Extensions/ClaimsPrincipalExtensions.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationScope.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationStatus.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationUserData.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationViewModel.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationsViewModel.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/OperationResult.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Shared/_Layout.cshtml
Due: none

cleanup
  KMD.Identity.TestApplications.OpenID.API/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegation.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegationAct.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegationActingStatus.cs
  KMD.Identity.TestApplications.OpenID.API/Models/OperationResult.cs
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/IDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/InMemoryDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/DelegationService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/IDelegationService.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/ApiCallResult.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegation.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationAct.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationActingStatus.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationsViewModel.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/DelegationViewModel.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/OperationResult.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
Due: none

simple audit
  KMD.Identity.TestApplications.OpenID.API/Controllers/AuditController.cs
  KMD.Identity.TestApplications.OpenID.API/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Audit/AuditItem.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegation.cs
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/InMemoryDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Audit/IAuditService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Audit/InMemoryAuditService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/DelegationService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/IDelegationService.cs
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/ApiCallResult.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Audit/AuditItem.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/AuditInformation.cshtml
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
Due: none

single delegation possible
  KMD.Identity.TestApplications.OpenID.API/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/DelegationService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/IDelegationService.cs
Due: none

some financial operation
  KMD.Identity.TestApplications.OpenID.API/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.API/Controllers/FinancialController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/KMD.Identity.TestApplications.OpenID.MVCCore.csproj
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/DelegationViewModel.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Pay.cshtml
Due: none

small adjustments
  KMD.Identity.TestApplications.OpenID.API/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegation.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
Due: none

pay/get split
  KMD.Identity.TestApplications.OpenID.API/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.API/Controllers/FinancialController.cs
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/IDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/InMemoryDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Audit/IAuditService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Audit/InMemoryAuditService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/DelegationService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Financial/IFinancialService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Financial/InMemoryFinancialService.cs
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Extensions/ClaimsPrincipalExtensions.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
Due: none

cleanup method
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
Due: none

instruction
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/InMemoryDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
Due: none

UI + comments
  KMD.Identity.TestApplications.OpenID.API/Controllers/AuditController.cs
  KMD.Identity.TestApplications.OpenID.API/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.API/Controllers/FinancialController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
Due: none

User delegation (#32)
  KMD.Identity.TestApplications.OpenID.API/Controllers/AuditController.cs
  KMD.Identity.TestApplications.OpenID.API/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.API/Controllers/FinancialController.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Audit/AuditItem.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegation.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegationAct.cs
  KMD.Identity.TestApplications.OpenID.API/Models/Delegation/AccessDelegationActingStatus.cs
  KMD.Identity.TestApplications.OpenID.API/Models/OperationResult.cs
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/IDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.API/Repositories/Delegation/InMemoryDelegationRepository.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Audit/IAuditService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Audit/InMemoryAuditService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/DelegationService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Delegation/IDelegationService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Financial/IFinancialService.cs
  KMD.Identity.TestApplications.OpenID.API/Services/Financial/InMemoryFinancialService.cs
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/DelegationController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Extensions/ClaimsPrincipalExtensions.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/KMD.Identity.TestApplications.OpenID.MVCCore.csproj
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/ApiCallResult.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Audit/AuditItem.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegation.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationAct.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationActingStatus.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/AccessDelegationsViewModel.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/DelegationViewModel.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/Delegation/OperationResult.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/AuditInformation.cshtml
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Index.cshtml
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Delegation/Pay.cshtml
Due: none

check if user is authenticated before creating a session
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
Due: azure-pipelines-saml.mvccore.yml

If user is authenticated redirect to return url
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
Due: azure-pipelines-saml.mvccore.yml

Adding curly braces
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
Due: azure-pipelines-saml.mvccore.yml

update mainpage
  KMD.Identity.TestApplications.MainPage/KMD.Identity.TestApplications.MainPage.csproj
Due: none

updating saml app
  KMD.Identity.TestApplications.SAML.MVCCore/KMD.Identity.TestApplications.SAML.MVCCore.csproj
Due: azure-pipelines-saml.mvccore.yml

Updating OpenId.MVC
  KMD.Identity.TestApplications.OpenID.MVCCore/KMD.Identity.TestApplications.OpenID.MVCCore.csproj
Due: none

updating the API
  KMD.Identity.TestApplications.OpenID.API/KMD.Identity.TestApplications.OpenID.API.csproj
Due: none

Updated Winforms
  KMD.Identity.TestApplications.OpenID.WinForms/App.config
  KMD.Identity.TestApplications.OpenID.WinForms/KMD.Identity.TestApplications.OpenID.WinForms.csproj
  KMD.Identity.TestApplications.OpenID.WinForms/Properties/Resources.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/Properties/Settings.Designer.cs
Due: none

Update azure-pipelines-mainpage.yml
  azure-pipelines-mainpage.yml
Due: none

Update azure-pipelines-openid.api.yml
  azure-pipelines-openid.api.yml
Due: none

Update azure-pipelines-openid.mvccore.yml
  azure-pipelines-openid.mvccore.yml
Due: none

Update azure-pipelines-saml.mvccore.yml
  azure-pipelines-saml.mvccore.yml
Due: none

updating angular and MAUI apps
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/angular.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
Due: azure-pipelines-openid.angular.yml

Update azure-pipelines-openid.angular.yml
  azure-pipelines-openid.angular.yml
Due: none

Adding missing package and updating another
  KMD.Identity.TestApplications.SAML.MVCCore/KMD.Identity.TestApplications.SAML.MVCCore.csproj
Due: azure-pipelines-saml.mvccore.yml

added support for On Behalf Of flow
  KMD.Identity.TestApplications.OpenID.API/Controllers/ClaimsController.cs
  KMD.Identity.TestApplications.OpenID.API/Models/TokenResponse.cs
  KMD.Identity.TestApplications.OpenID.API/appsettings.json
  KMD.Identity.TestApplications.OpenID.APIOnBehalfOf/Controllers/ClaimsController.cs
  KMD.Identity.TestApplications.OpenID.APIOnBehalfOf/KMD.Identity.TestApplications.OpenID.APIOnBehalfOf.csproj
  KMD.Identity.TestApplications.OpenID.APIOnBehalfOf/Program.cs
  KMD.Identity.TestApplications.OpenID.APIOnBehalfOf/Properties/launchSettings.json
  KMD.Identity.TestApplications.OpenID.APIOnBehalfOf/appsettings.DevTest.json
  KMD.Identity.TestApplications.OpenID.APIOnBehalfOf/appsettings.Development.json
  KMD.Identity.TestApplications.OpenID.APIOnBehalfOf/appsettings.Production.json
  KMD.Identity.TestApplications.OpenID.APIOnBehalfOf/appsettings.Sandbox.json
  KMD.Identity.TestApplications.OpenID.APIOnBehalfOf/appsettings.json
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Home/CallApi.cshtml
  KMD.Identity.TestApplications.sln
Due: none

introducing universal way of hosting (works on windows and linux)
  KMD.Identity.TestApplications.MainPage/Program.cs
  KMD.Identity.TestApplications.OpenID.API/Program.cs
  KMD.Identity.TestApplications.OpenID.Angular/Program.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Program.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Program.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

Azure doesn't support file load certificate for windows (documentation is misleading)
  KMD.Identity.TestApplications.SAML.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
Due: azure-pipelines-saml.mvccore.yml

updated comment
  KMD.Identity.TestApplications.SAML.MVCCore/Startup.cs
Due: azure-pipelines-saml.mvccore.yml

NET 8 for Angular
  KMD.Identity.TestApplications.OpenID.Angular/KMD.Identity.TestApplications.OpenID.Angular.csproj
Due: azure-pipelines-openid.angular.yml

Linux hosting option (#38)
  KMD.Identity.TestApplications.MainPage/Program.cs
  KMD.Identity.TestApplications.OpenID.API/Program.cs
  KMD.Identity.TestApplications.OpenID.Angular/KMD.Identity.TestApplications.OpenID.Angular.csproj
  KMD.Identity.TestApplications.OpenID.Angular/Program.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Program.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Program.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

Azure App Service notice
  KMD.Identity.TestApplications.SAML.MVCCore/Infrastructure/Saml/CustomSamlCertificateValidator.cs
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.json
Due: azure-pipelines-saml.mvccore.yml

dirty check
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Infrastructure/Saml/CustomSamlCertificateValidator.cs
Due: azure-pipelines-saml.mvccore.yml

no machine context
  KMD.Identity.TestApplications.SAML.MVCCore/Infrastructure/Saml/CustomSamlCertificateValidator.cs
Due: azure-pipelines-saml.mvccore.yml

Path conditions:
  azure-pipelines-openid.angular.yml: any of: KMD.Identity.TestApplications.OpenID.Angular
  azure-pipelines-saml.mvccore.yml: any of: KMD.Identity.TestApplications.SAML.MVCCore
