Repository kmd-identity/testapplications: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

azure-pipelines-openid.angular.yml:

trigger:
  branches:
    include:   
    - master
  paths:
    include:
    - KMD.Identity.TestApplications.OpenID.Angular/*

pool:
  vmImage: windows-latest

variables:
  projects: |
      KMD.Identity.TestApplications.OpenID.Angular\KMD.Identity.TestApplications.OpenID.Angular.csproj
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '5.0.x'
    
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '$(projects)'
  displayName: 'dotnet restore'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(projects)'
    arguments: '--configuration $(buildConfiguration)'
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    projects: '$(projects)'
    publishWebProjects: false
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True
  displayName: 'dotnet publish (zip)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Azure DevOps publish artifacts'

azure-pipelines-saml.mvccore.yml:

trigger:
  branches:
    include:   
    - master
  paths:
    include:
    - KMD.Identity.TestApplications.SAML.MVCCore/*

pool:
  vmImage: windows-latest

variables:
  projects: |
      KMD.Identity.TestApplications.SAML.MVCCore\KMD.Identity.TestApplications.SAML.MVCCore.csproj
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '5.0.x'
    
- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '$(projects)'
  displayName: 'dotnet restore'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(projects)'
    arguments: '--configuration $(buildConfiguration)'
  displayName: 'dotnet build $(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'publish'
    publishWebProjects: True
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: True
  displayName: 'dotnet publish (zip)'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
  displayName: 'Azure DevOps publish artifacts'

fixed comments
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Infrastructure/Saml/CustomSamlCertificateValidator.cs
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.json
Due: azure-pipelines-saml.mvccore.yml

empty line
  KMD.Identity.TestApplications.SAML.MVCCore/Infrastructure/Saml/CustomSamlCertificateValidator.cs
Due: azure-pipelines-saml.mvccore.yml

Azure App Service notice (#40)
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.DevTest.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Production.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.Sandbox.json
  KMD.Identity.TestApplications.SAML.MVCCore/appsettings.json
Due: azure-pipelines-saml.mvccore.yml

Added mobile menu toggle
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
Due: azure-pipelines-openid.angular.yml

returning 405 if not get
  KMD.Identity.TestApplications.OpenID.Angular/Startup.cs
Due: azure-pipelines-openid.angular.yml

adding comment
  KMD.Identity.TestApplications.OpenID.Angular/Startup.cs
Due: azure-pipelines-openid.angular.yml

404
  KMD.Identity.TestApplications.OpenID.Angular/Startup.cs
Due: azure-pipelines-openid.angular.yml

Adding menu items + code for them
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/TestCertificate.pfx
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Shared/_Layout.cshtml
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.json
Due: none

code + menu items for both client credentials flows
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/TestCertificate.pfx
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Shared/_Layout.cshtml
  KMD.Identity.TestApplications.OpenID.MVCCore/appsettings.json
Due: none

using httpClientFactory
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
Due: none

cleanup
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
Due: none

added code to be able to get certificate on linux app service
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
Due: none

adding example comments
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
Due: none

using EphemeralKeySet
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
Due: none

testing
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
Due: none

reverting
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
Due: none

removing flag
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
Due: none

Added handling for other SAML response types
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Models/SamlErrorViewModel.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Views/Auth/Error.cshtml
Due: azure-pipelines-saml.mvccore.yml

Removed irrelevant using statements
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
Due: azure-pipelines-saml.mvccore.yml

getting + displaying error message.
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Models/ErrorViewModel.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Shared/Error.cshtml
Due: none

PR comments
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Shared/Error.cshtml
Due: none

pr
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/HomeController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
Due: none

PR
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
Due: none

samlapp
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/AuthController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Extensions/CustomSaml2BindingExtensions.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Views/Home/Index.cshtml
Due: azure-pipelines-saml.mvccore.yml

openid mvc
  KMD.Identity.TestApplications.OpenID.MVCCore/Controllers/AccountController.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Views/Home/Index.cshtml
Due: none

angular test app
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authenticate.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authenticate.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
Due: azure-pipelines-openid.angular.yml

winforms
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/LogonForm.cs
Due: none

MAUI
  KMD.Identity.TestApplications.OpenID.MAUI/App.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml
  KMD.Identity.TestApplications.OpenID.MAUI/Login.xaml.cs
  KMD.Identity.TestApplications.OpenID.MAUI/ViewModels/LoginViewModel.cs
Due: none

PR
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authenticate.component.html
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authentication-context.service.ts
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
Due: azure-pipelines-openid.angular.yml

Updated all packages
  KMD.Identity.TestApplications.MainPage/KMD.Identity.TestApplications.MainPage.csproj
  KMD.Identity.TestApplications.OpenID.API/KMD.Identity.TestApplications.OpenID.API.csproj
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/app.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/authenticate/authenticate.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/error/error.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/test-api-call/test-api-call.service.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/src/app/user-claims/user-claims.component.ts
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/tsconfig.json
  KMD.Identity.TestApplications.OpenID.Angular/KMD.Identity.TestApplications.OpenID.Angular.csproj
  KMD.Identity.TestApplications.OpenID.MAUI/KMD.Identity.TestApplications.OpenID.MAUI.csproj
  KMD.Identity.TestApplications.OpenID.MVCCore/KMD.Identity.TestApplications.OpenID.MVCCore.csproj
  KMD.Identity.TestApplications.OpenID.WinForms/KMD.Identity.TestApplications.OpenID.WinForms.csproj
  KMD.Identity.TestApplications.SAML.MVCCore/Controllers/MetadataController.cs
  KMD.Identity.TestApplications.SAML.MVCCore/KMD.Identity.TestApplications.SAML.MVCCore.csproj
Due: azure-pipelines-openid.angular.yml, azure-pipelines-saml.mvccore.yml

Updated git ignore file
  .gitignore
Due: none

Added agents file
  AGENTS.md
Due: none

Tooling versions
  KMD.Identity.TestApplications.OpenID.WinForms/Properties/Resources.Designer.cs
  KMD.Identity.TestApplications.OpenID.WinForms/Properties/Settings.Designer.cs
Due: none

Pipelines
  azure-pipelines-mainpage.yml
  azure-pipelines-openid.angular.yml
  azure-pipelines-openid.api.yml
  azure-pipelines-openid.mvccore.yml
  azure-pipelines-saml.mvccore.yml
Due: none

Updated trust
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.Sandbox.json
Due: azure-pipelines-openid.angular.yml

Removed agents file
  AGENTS.md
Due: none

Added config guard
  KMD.Identity.TestApplications.OpenID.API/Startup.cs
  KMD.Identity.TestApplications.OpenID.MVCCore/Startup.cs
  KMD.Identity.TestApplications.SAML.MVCCore/Startup.cs
Due: azure-pipelines-saml.mvccore.yml

Fixed config
  KMD.Identity.TestApplications.OpenID.Angular/appsettings.Production.json
Due: azure-pipelines-openid.angular.yml

Fix?
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package-lock.json
  KMD.Identity.TestApplications.OpenID.Angular/ClientApp/package.json
Due: azure-pipelines-openid.angular.yml
